/*Table styles start*/

.table-dots-wrapper {
    width: 100%;
}

.table-dots-wrapper .table-row {
    margin-bottom: 55px;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.table-dots-wrapper .left-side {
    position: relative;
    width: 35%;
    display: inline-block;
    float: left;
    vertical-align: top;
    padding-right: 50px;
}

.table-dots-wrapper .right-side {
    position: relative;
    width: 65%;
    display: inline-block;
    float: left;
    vertical-align: top;
}

.table-dots-wrapper .left-side .title {
    font-size: 17px;
    font-weight: bold;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 4px dotted;
    padding-bottom: 15px;
}

.table-dots-wrapper .right-side .content {
    font-size: 17px;
    line-height: 26px;
}

@media screen and (max-width: 970px) {

    .table-dots-wrapper .table-row {
        flex-wrap: wrap;
    }

    .table-dots-wrapper .left-side {
        width: 100%;
        padding: 0;
        float: none;
    }

    .table-dots-wrapper .right-side {
        float: none;
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }

}

/*Table styles end*/